In [17]:
import pandas as pd
import category_encoders as ce

In [23]:
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]
clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])
clothing

  size   type
0  xxs  dress
1  xxs  skirt
2   xs  dress
3    s  skirt
4    m  dress
5    l  shirt
6    s   coat
7    m   coat
8  xxl  shirt
9    l  dress

In [16]:
ord_encoder = ce.OrdinalEncoder()
data_bin = ord_encoder.fit_transform(clothing[['size', 'type']])
clothing = pd.concat([clothing, data_bin], axis=1)
clothing

   size   type  size  type
0   xxs  dress     1     1
1   xxs  skirt     1     2
2    xs  dress     2     1
3     s  skirt     3     2
4     m  dress     4     1
5     l  shirt     5     3
6     s   coat     3     4
7     m   coat     4     4
8   xxl  shirt     6     3
9     l  dress     5     1

In [13]:
encoder = ce.OneHotEncoder(cols=['type']) # указываем столбец для кодирования
type_bin = encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)
clothing

,size,type,type_1,type_2,type_3,type_4,type_1,type_2,type_3,type_4,type_1,type_2,type_3,type_4
0,xxs,dress,1,0,0,0,1,0,0,0,1,0,0,0
1,xxs,skirt,0,1,0,0,0,1,0,0,0,1,0,0
2,xs,dress,1,0,0,0,1,0,0,0,1,0,0,0
3,s,skirt,0,1,0,0,0,1,0,0,0,1,0,0
4,m,dress,1,0,0,0,1,0,0,0,1,0,0,0
5,l,shirt,0,0,1,0,0,0,1,0,0,0,1,0
6,s,coat,0,0,0,1,0,0,0,1,0,0,0,1
7,m,coat,0,0,0,1,0,0,0,1,0,0,0,1
8,xxl,shirt,0,0,1,0,0,0,1,0,0,0,1,0
9,l,dress,1,0,0,0,1,0,0,0,1,0,0,0

In [19]:
clothing_dummies = pd.get_dummies(clothing, columns=['type'])
clothing_dummies

  size  type_coat  type_dress  type_shirt  type_skirt
0  xxs          0           1           0           0
1  xxs          0           0           0           1
2   xs          0           1           0           0
3    s          0           0           0           1
4    m          0           1           0           0
5    l          0           0           1           0
6    s          1           0           0           0
7    m          1           0           0           0
8  xxl          0           0           1           0
9    l          0           1           0           0

In [24]:
bin_encoder = ce.BinaryEncoder(cols=['type']) # указываем столбец для кодирования
type_bin = bin_encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)

clothing

  size   type  type_0  type_1  type_2
0  xxs  dress       0       0       1
1  xxs  skirt       0       1       0
2   xs  dress       0       0       1
3    s  skirt       0       1       0
4    m  dress       0       0       1
5    l  shirt       0       1       1
6    s   coat       1       0       0
7    m   coat       1       0       0
8  xxl  shirt       0       1       1
9    l  dress       0       0       1